<!DOCTYPE html>


<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
                <div class="sidebar-brand-icon rotate-n-15">
<!--                    <img src="/img/main.png" style="width:50px; height:50px">-->
                </div>
                <div class="sidebar-brand-text mx-3">Picboy Admin <sup>♣</sup></div>
            </a>

            <!-- Nav Item - Tables -->
            <li class="nav-item active">
                <a class="nav-link" href="/admin/user">
                    <img src="/img/choice.png" style="width:20px; height:20px">
                    <span>유저 정보</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/admin/post">
                    <img src="/img/choice.png" style="width:20px; height:20px">
                    <span>게시글 정보</span></a>
            </li>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">게시물 정보</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>순번</th>
                                            <th>제시어</th>
                                            <th>마지막 프레임</th>
                                            <th>총 프레임</th>
                                            <th>gif 이미지</th>
                                            <th>상태</th>
                                            <th>댓글 수</th>
                                            <th>좋아요 수</th>
                                            <th>조회 수</th>
                                            <th>신고 수</th>
                                            <th>게시물 작성자</th>
                                            <th>삭제</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="m, i : ${postList}">
                                            <td th:text="${i.index+1}"></td>
                                            <td th:text="${m.topic}"></td>
                                            <td th:text="${m.frameNum}"></td>
                                            <td th:text="${m.frameTotal}"></td>
<!--                                            <td th:text="${m.gifUrl}" style="text-overflow:ellipsis"></td>-->
                                            <td><button onclick="gifPage(value)" th:value='${m.gifUrl}'  >gif 이미지</button> </td>
                                            <td th:text="${m.status}"></td>
                                            <td th:text="${m.commentCount}"></td>
                                            <td th:text="${m.likeCount}"></td>
                                            <td th:text="${m.viewCount}"></td>
                                            <td th:text="${m.reportCount}"></td>
                                            <td th:text="${m.member.nickname}"></td>
                                            <td> <button onclick="btnDelete(value)" th:value='${m.id}'  >삭제</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->



    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>


<script>
    function btnDelete(data) {
        console.log(data);

        $.ajax({
            type: "DELETE",
            url: "/post/"+data,
            data: null,
            success:function(res){
                alert("삭제 성공");
                window.location.href = window.location.href;

            },
            error:function() {
                alert("삭제 실패");
            }

        });
    }

    function gifPage(data) {
        window.location.href =data;
    }


</script>


</body>

</html>